# Ignore CombinedMacroOutput.txt
CombinedMacroOutput.txt

# Ignore all .lua files in dir and subdirs
*.lua

# Ignore Bin/Output directory
Bin/Output/

# Ignore Bin-Retail/Output directory
Bin-Retail/Output/